* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 1000px;
    background: url(../img/bg/background\ header\ .png) center center/cover no-repeat;
    padding: 50px 0 97px 0;
}

.logo .logo_img {
   display: block;
    margin: 0 auto;
 
    
    
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}
h1 {
    margin-top: 30px;
}
.title { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
.simple .title_big {
    
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
   
    

 
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact {
  
margin-top: 126px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;



text-align: center;

color: #2E4814;}
.info {

height: 1152px;
padding:30 0 20 0 ;

}
.info .info_img {
    display: block;
    height: 972px

}
.info .info_header {

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    
    color: #596A71;
}
 
.info_history {
  
margin: top auto;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;

align-items: center;
text-align: center;

color: #596A71;

}
.info .info_img .info_one {
    display: inline-block;
    
}
.hi_text{
   

    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    
    color: #000000;
    }
    
        .info_addiction {
          padding: 50px;
            
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 47px;
            align-items: center;
            text-align: center;
            
            color: #596A71;
            
            
        }
.addiction  {height: 1000px;
    background: url(../img/bg/background\ content.png) ;
   

}
.info1 {
    margin-top: 20px;
    margin-left: 20px;

    }
.add_text {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;

align-items: center;

color: #000000;
    }
    .info2 {
        margin-top: 20px;
        margin-left: 20px;
    
        }
    .add_text2 {
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    
    align-items: center;
    
    color: #000000;
        }
        .info3 {
            margin-top: 20px;
            margin-left: 20px;
        
            }
        .add_text3 {
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
                font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        
        align-items: center;
        
        color: #000000;
            }
.info_help {
    

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

align-items: center;
text-align: center;

color: #596A71;
}
.info_help2 {

width: 1095px;
height: 30px;
left: 420px;
top: 4300px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;

align-items: center;

color: #000000;

}
.info_help3 {
 
    width: 1097px;
    height: 97px;
    left: 420px;
    top: 4350px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    
    color: #000000;
}

.help_text {
   
    width: 1100px;
    height: 200px;
    left: 400px;
    top: 4479px;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.bg_help {
    background: url(../img/bg/1.png) center center/cover no-repeat;
    padding: 17px 17px 17px 17px;
   

    width: 1112px;
    height: 200px;
    left: 403px;
    top: 4442px;
}
    .top
    {
      margin-right: 20px;
        width: 1079px;
        height: 162px;
        left: 420px;
        top: 4479px;
        
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;

        align-items: center;
        
        color: #000000;
    }
    .bg_help2 {
        background: url(../img/bg/2.png) center center/cover no-repeat;
        padding: 17px 17px 17px 17px;
        
        width: 1112px;
        height: 200px;
        left: 403px;
        top: 4685px;
    }
        .top2
        {
          margin-right: 20px;
          
          width: 1059px;
          height: 194px;
          left: 420px;
          top: 4690px;
          
          font-family: 'Roboto Slab';
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 34px;
     
          align-items: center;
          
          color: #000000;
          
        }
.footer { 
    height: 1000px;
    background: url(../img/bg/background\ footer\ .png) center center/cover no-repeat;
   
    width: 1920px;
    height: 573px;
    left: 0px;
    top: 4927px;}
.fo1{
margin-top: 40px;
width: 1110px;
height: 30px;
left: 405px;
top: 4980px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;

align-items: center;
text-align: center;

color: #596A71;
}
.fo2 {
   margin-top: 100px;
    left: 0px;
    top: 5066px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    align-items: center;
    text-align: center;
    
    color: #2E4814;
    
    }
.contact2 {
    
margin-top: 200px;


font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

align-items: center;
text-align: center;

color: #000000;

}
